

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Space+Mono:ital,wght@1,400;1,700&display=swap');  

html {
    box-sizing: border-box;
background-color: black;
 
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .datetime{
    background: black;
    opacity:0.6;
    border-radius: 10%;
    padding:1%;
  }
  .timer{
     color:white;
     text-shadow: 4px 4px 5px black;
display: flex;
justify-content: center;
     font-size: 2em;
     align-content: space-between;
     font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace;
  }
  .wrapper {
   
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
  }
  .wrapper > * {
    
    padding: 20px;
  }

  body {
  
    display: flex;
    flex-direction: column;
    
  }
#text{
  color: white;
  /* text-shadow: 10px 10px 5px black; */
 background: black;
 border-radius: 10px;
 opacity: 0.6;
font-family: 'Space Mono', monospace;
  font-size:1em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding:1%
}
.page-footer {
  
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5em;
  
}

.quote {
  font-style:italic;
}

.button {
    padding: 5px 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: hsla(0, 0%, 90%, 1);
    background: black;
    opacity:0.75;
    border-radius: 10px;
    /* box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1); */
    text-align: center;
    font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace;
margin:2%;

  }
  .button:hover {
    background: linear-gradient(rgb(44, 44, 44), rgb(89, 68, 109));
    transition: all 0.2s linear;
  }
  /* .button.b1 {
      display: inline-flex; /* element only as wide as content 
    
  } */

/* 
  @media only screen and (max-width: 600px) {
   
    #text{ 
      font-size: .8em;
    }
  .timer{
      font-size: .8em;
      
  }

  .button { 
    font-size: .8em;
  }
} */